<div id="divDishPageAlert">

</div>
<!--/row-->

<div id="dishesPage" class="row-fluid">
    <h1>Danh sách món ăn</h1>
</div>

<hr>

<div class="row-fluid" ng-controller="menuController as menu">
    <div class="span3">


        <div class="category" ng-repeat="cate in menu.categories" ng-click="menu.changeCategory(cate.id)" ng-class="[
    {active: cate.id == menu.selectedCategory}]">{{cate.name}}</div>
    </div>


    <div class="span9">
        <div ng-hide="menu.isFries()">
            <div ng-repeat="cate in menu.categories" ng-show="cate.id == menu.selectedCategory">
                <div ng-repeat="dish in cate.dishes">
                    <div class="span6 menu-item-block">
                        <div class="inline-block">
                            <img class="menu-item-img" src="/img/template/no-image.jpg">
                        </div>
                        <div class="inline-block">
                            <div class="menu-item-name-vn">{{dish.name}}</div>
                            <div class="menu-item-name-en">{{dish.nameEn}}   ....................{{dish.price}}vnd</div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
        
        <div ng-show="menu.isFries()">
            This is div for friess
        </div>
    </div>
</div>