<div class="row-fluid" 
ng-controller="dishManamentController as dishes"
ng-init="dishes.selectOptions = <%= JSON.stringify(categories) %>; 
dishes.dishes = <%= JSON.stringify(dishes) %>;">
    <div class="span3">
            <div class="row-fluid listDishContainer" ng-repeat="dish in dishes.dishes | orderBy : ['-status', 'price']"
            ng-init="dishes.selectFirstDish(dish.id, $first)">
            <div class="span3 listPrice" ng-model="dish.price" min="0" max="999999999" required 
            ng-class="[
                {enableDish: dish.status == 'enable'},
                {disableDish: dish.status == 'disable'},
            ]">
                <span>{{dish.price | currency : '' : 0}}</span>
            </div>
            <div class="span9 listDish listAnimate1"
            tabindex="{{dish.id}}"

            ng-click="dishes.changeDish(dish.id)"
            ng-class="[
                {selectedAnimate1: dishes.selectedDish == dish.id},
                {disableTab: !form.$valid || dishes.dirty},
            ]">
                <span ng-class="[
                {listEdited: dishes.isDirty(dish.id) }]">{{dish.name}}</span>
            </div>
        </div>

        <div class="addingSection">
            <div class="btn btn-large btn-info" ng-click="dishes.addDish()"
            ng-hide="dishes.editable"> Add
            </div>
        </div>
    </div>

    

    
    <div class="span9">
        <form novalidate class="dishForm" name="form">
        <div class="row-fluid dishContainer"
        ng-repeat="dish in dishes.dishes"
        ng-show="dishes.selectedDish == dish.id">

            <div class="row-fluid">
                <h1 ng-hide="dishes.editable" ng-model="dish.name"
                ng-click="dishes.edit()">{{dish.name}}</h1>
                <input ng-show="dishes.editable" class="span12 dishName" type="text" ng-model="dish.name"
                ng-change="dishes.turnOnDirty()" 
                maxlength="100" required>
            </div>


                <div class="row-fluid">
                    <div class="span10">
                        <div class="row-fluid">
                            <div class="span3">
                                Price:
                            </div>
                            <div class="span9">
                                <div ng-hide="dishes.editable" 
                                ng-model="dish.price"
                                ng-click="dishes.edit()" >{{dish.price | currency : '' : 0}}</div>
                    <input ng-show="dishes.editable" type="number" value="dish.price" ng-model="dish.price" min="0" max="999999999" required ng-change="dishes.turnOnDirty()">
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span3">
                                Category: 
                            </div>
                            <div class="span9">
                                <div ng-hide="dishes.editable" ng-click="dishes.edit()">{{ dishes.selectName(dish.category.id) }}</div>
                            <!-- <select ng-show="dishes.editable"> -->
                            <select ng-show="dishes.editable"
                            ng-model="dish.category.id"
                            ng-options="cate.id as cate.name for cate in dishes.selectOptions" ng-change="dishes.turnOnDirty()" required>
                            </select>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span3">
                                Description: 
                            </div>
                            <div class="span9">
                                <div ng-hide="dishes.editable" ng-click="dishes.edit()">{{ dish.description }}</div>
                                <textarea ng-show="dishes.editable"
                                ng-model="dish.description" ng-change="dishes.turnOnDirty()" 
                                maxlength="2000">{{ dish.description }}</textarea>
                            </div>
                        </div>

                        <div class="dishActionBar">
                            <div class="btn btn-large btn-success" ng-click="dishes.edit()"
                            ng-hide="dishes.editable"> Edit
                            </div>

                            <div class="btn btn-large btn-warning" ng-click="dishes.confirmDisableDish()"
                            ng-hide="dishes.editable || dish.status == 'disable'"> Disable
                            </div>

                            <div class="btn btn-large btn-info" ng-click="dishes.enableDish()"
                            ng-hide="dishes.editable || dish.status == 'enable'"> Enable
                            </div>

                            <div class="btn btn-large btn-danger" ng-click="dishes.confirmDeleteDish()"
                            ng-hide="dishes.editable || dish.status == 'enable'"> Delete
                            </div>

                            <div class="btn btn-large btn-inverse" ng-click="dishes.cancelEdit(dish.id)"
                            ng-show="dishes.editable && !dishes.adding"> Cancel
                            </div>

                            <div class="btn btn-large btn-inverse" ng-click="dishes.cancelAddDish()"
                            ng-show="dishes.editable && dishes.adding"> Cancel
                            </div>

                            <div class="btn btn-large btn-success" ng-click="dishes.submitChange(dish.id)"
                            ng-show="dishes.editable && !dishes.adding"
                            ng-class="[
                            {disableTab: !form.$valid}
                            ]"> Save
                            </div>                            

                            <div class="btn btn-large btn-success" ng-click="dishes.submitAddDish(dish)"
                            ng-show="dishes.adding"
                            ng-class="[
                            {disableTab: !form.$valid}
                            ]"> Add
                            </div>

                        </div>
                    </div>
                    <div class="span2">

                        <div ng-repeat="image in dish.images">
                        <div class="imageWrap">
                            <span class="imageDelete"
                            ng-click="dishes.confirmDeleteImage(image.id)">&times;</span>
                            <img class="dishImage" ng-src="{{ image.url }}">
                            <img class="dishImageFull" ng-src="{{ image.url }}">
                        </div>
                        </div>
                    </div>
                </div>
        </div>
        </form>
    </div>

    <!-- Model deleteImage -->
    <div class="modal hide fade" id="deleteImage">
      <div class="modal-header imagePreviewHeader">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h1>Bạn có chắc muốn xóa hình này:</h1>

        <img class="previewImage" ng-src="{{dishes.selectedImage.url}}">
      </div>
      <div class="modal-footer">
        <button class="btn btn-warning" data-toggle="modal"
        id="btnDeleteImage"
        ng-click="dishes.deleteImage(dishes.selectedImage.id)">Xóa</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="dishes.resetDeleteCountdown()">Thoát</button>
      </div>
    </div>
    <!-- End - Model deleteImage -->

    <!-- Model Disable Dish -->
    <div class="modal hide fade" id="disableModal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h1>Bạn có chắc muốn disable món:</h1>
        <div class="dishNameArea">{{dishes.selectedName}}</div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-warning" data-toggle="modal"
        ng-click="dishes.disableDish()">Disable</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Thoát</button>
      </div>
    </div>
    <!-- End - Model Disable Dish -->


    <!-- Model Delete Dish -->
    <div class="modal hide fade" id="deleteModal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h1>Bạn có chắc muốn xóa món:</h1>
        <div class="dishNameArea">{{dishes.selectedName}}</div>
      </div>
      <div class="modal-footer">
        <button id="btnDeleteDish" 
        class="btn btn-danger" 
        data-toggle="modal"
        ng-click="dishes.deleteDish()">Xóa</button>

        <button type="button" class="btn btn-default" data-dismiss="modal" id="btnCancelDeleteDish" ng-click="dishes.resetDeleteCountdown()">Thoát</button>
      </div>
    </div>
    <!-- End - Model Delete Dish -->

</div>

<%- block('localScripts', '<script src="/js/dishManage/dishManage.js"></script>') %>