<div id="divDishPageAlert">

</div>
<!--/row-->

<div id="dishesPage" class="row-fluid">
    <h1>Danh sách món ăn</h1>
</div>

<hr>

<div class="row-fluid" ng-controller="menuController as menu">
    <div class="span3">


        <div class="category" ng-repeat="cate in menu.categories" ng-click="menu.changeCategory(cate.id)" ng-class="[
    {active: cate.id == menu.selectedCategory}]">{{cate.name}}</div>
    </div>


    <div class="span9">
        <div ng-hide="menu.isFries()">
            This is not fries div
        </div>
        
        <div ng-show="menu.isFries()">
            This is div for friess
        </div>
    </div>
</div>