<div ng-controller="dishManamentController as dishes">
	<input ng-model="testing">
	<div>{{testing}}</div>
	<div>testing testing</div>
	<div>testing testing</div>
	<div>testing testing</div>
	<div>testing testing</div>
	<div>testing testing</div>
</div> 