<div id="divDishPageAlert">  
  
</div><!--/row-->

<div id="dishesPage" class="row-fluid">
  <h1>Danh sách món ăn</h1>  
</div>

<hr>

<!-- <div class="row-fluid"> -->
  <% if (status == 1) { %>
    <% _.each(dishes, function (dish) { %>
      <div class="span3">
        <button onclick="addItem(<%= dish.id %>, '<%= dish.name %>')"><%= dish.name %></button>
      </div>
    <% }) %>
  <% } %>
<!-- </div> -->

<div class="row-fluid"></div>

<hr>

<div id="dishesPage" class="row-fluid">
  	<h1>Các món đã chọn</h1>

	<div class="box span11">
		<div class="box-content">
			<table class="table">
			  	<thead>
				  	<tr>
					  	<th>Món</th>
					  	<th></th>
				  	</tr>
			  	</thead>   
			  	<tbody id="addedItemTableBody">
					
			  	</tbody>
		  	</table>            
		</div>
	</div>
	
</div>
