<div id="divDishPageAlert">

</div>
<!--/row-->

<div id="menuPage" class="row-fluid" ng-controller="menuController as menu"
ng-init="menu.init(<%= session.id %>)">
    <!-- <div class="page-title">
        <img src="/img/template/title-ordered.png">
    </div> -->

    <div class="box span11">
        <div class="span3" id="categoriesContainer">
            <div class="category" ng-repeat="cate in menu.categories" ng-show="menu.isParent(cate)" ng-click="menu.changeCategory(cate.id)" ng-class="[{active: cate.id == menu.selectedCategory}]" ng-style="{'background-image':'url({{cate.image}})', 'background-size': 'cover'}">
                <div class="category-name">{{cate.name}}</div>                
            </div>
        </div>


        <div class="span9">
            <div class="row-fluid">
                <div ng-hide="menu.isFries()">
                    <div ng-repeat="cate in menu.categories" ng-show="cate.id == menu.selectedCategory">
                        <div ng-repeat="dish in cate.dishes">
                            <div class="span6 menu-item-block" 
                            ng-click="menu.selectOneLevel(dish.id)"
                            ng-class="[
                            {disableStep: menu.fullTrain()} ]">
                                <div class="inline-block">
                                    <img class="menu-item-img" ng-src="{{dish.mainImage}}">
                                </div>
                                <div class="inline-block">
                                    <div class="menu-item-name-vn">{{dish.name}}</div>
                                    <div class="menu-item-name-en">{{dish.nameEn}} ....................{{dish.price}}vnd</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-show="menu.isFries()">
                    <div class="row-fluid">
                        <div ng-repeat="cate in menu.categories | orderBy: '-id'" 
                        ng-show="menu.isSubLevel1(cate.id)" class="subCategory1 span6"
                        ng-click="menu.changeSubtab(cate.id)" ng-class="[{
                            inactive: menu.selectedSubtab != cate.id}]">
                            <span class="subCategory-name">{{cate.name}} </span>
                            <span class="subCategory-name-en">({{cate.nameEn}})</span>                            
                        </div>

                        <div ng-show="menu.selectedSubtab == menu.fixCategory.potato">
                            <div id="potatoDishesContainer" class="potatoDishesContainer row-fluid"
                            ng-class="[
                            {disableStep: menu.fullTrain()} ]">
                                <img id="potatoDishesArrow" class="nextDishes" src="/img/timeline-left-arrow@2x.png" alt="">
                                <table id="potatoDishesTable" class="horizontal-sub-level1-table shadedBackground" style="width: 90%; height: 130px">
                                    <tr>
                                        <td class="potatoDish span3" ng-repeat="dish in menu.potatoDishes.dishes" style="width: {{menu.dishWidth}}px; background-image: url('{{dish.mainImage}}'); background-size: cover;">
                                            <div class="potatoDishContainer" ng-click="menu.selectLvl1(dish.id)" ng-class="[{
                                    selectedDish: menu.isSelectedDish(dish.id)}]">
                                                <div class="potatoDishName">
                                                    <div>
                                                        {{ dish.name }}
                                                    </div>                                                    
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <div class="row-fluid">

                                <div ng-repeat="dipShake in menu.potatoDipShake" class="dishContainer shadedBackground span6">
                                    <div class="dishName span12 dish-title">
                                        <span class="kanit">{{dipShake.name}}</span>
                                        <span class="vni-park">({{dipShake.nameEn}})</span>
                                    </div>
                                    <div ng-repeat="dish in dipShake.dishes">
                                        <div class="span12 menu-item-block" ng-click=" menu.steps.dipShake != menu.currentStep || menu.selectLvl2(dipShake.id)" ng-class="[
                                        {disableStep: menu.currentStep < menu.steps.dipShake || menu.fullTrain()}
                                        ]">
                                            <div class="inline-block">
                                                <img class="menu-item-img" ng-src="{{dish.mainImage}}">
                                            </div>
                                            <div class="inline-block">
                                                <div class="menu-item-name-vn">{{dish.name}}</div>
                                                <div class="menu-item-name-en">{{dish.nameEn}} ....................{{dish.price}}vnd</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div ng-show="menu.selectedSubtab == menu.fixCategory.fries">

                            <div class="dishContainer shadedBackground span9">
                                <div class="dishName span12 dish-title">
                                    <span class="kanit">{{menu.friesDishes.name}}</span>
                                    <span class="vni-park">({{menu.friesDishes.nameEn}})</span>
                                </div>
                                <div ng-repeat="dish in menu.friesDishes.dishes">
                                    <div class="span12 menu-item-block" ng-click="menu.selectLvl1(dish.id)" ng-class="[{
                                    selectedDish: menu.isSelectedDish(dish.id)},
                                    { disableStep: menu.fullTrain() }]">
                                        <div class="inline-block">
                                            <img class="menu-item-img" ng-src="{{dish.mainImage}}">
                                        </div>
                                        <div class="inline-block">
                                            <div class="menu-item-name-vn">{{dish.name}}</div>
                                            <div class="menu-item-name-en">{{dish.nameEn}} ....................{{dish.price}}vnd</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="dishContainer shadedBackground span3">
                                <div class="dishName span12 dish-title">
                                    <span class="kanit">{{menu.friesDip.name}}</span>
                                    <span class="vni-park">({{menu.friesDip.nameEn}})</span>
                                </div>
                                <div ng-repeat="dish in menu.friesDip.dishes">
                                    <div class="span12 menu-item-block" ng-click=" menu.steps.dipShake != menu.currentStep || menu.selectLvl2(dish.id)" ng-class="[
                                        {disableStep: menu.currentStep < menu.steps.dipShake || menu.fullTrain()}
                                        ]">>
                                        <div class="inline-block">
                                            <img class="menu-sub-item-img" ng-src="{{dish.mainImage}}">
                                        </div>
                                        <div class="inline-block">
                                            <div class="menu-sub-item-name-vn">{{dish.name}}</div>
                                            <div class="menu-sub-item-name-en">{{dish.nameEn}} ...{{dish.price}}vnd</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <!-- Train -->
            <div class="row-fluit train-container">
                <div class="span3"
                ng-repeat="dishIndex in menu.trainCars"
                ng-click="menu.removeDish(menu.train[dishIndex].id)">
                    <img ng-src="{{ menu.train[dishIndex].dish.mainImage }}" 
                    alt="" class="trainImage">
                </div>
                <div class="span3 trainHead" ng-click="menu.submitOrder()"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="myModalContent.html">        
    <div class="modal-header">
        <h3 class="modal-title">Món đã chọn</h3>
    </div>
    <div class="modal-body">
        <table>
            <tr ng-repeat="item in items | orderBy: 'order'">
                <td ng-click="changeItem(item.dish.id)" class="span2">
                    {{ item.dish.name }}
                </td>
                <td class="span10">
                    <div class="row-fluid">
                        <button class="btn span4" ng-repeat="itemPrice in item.dish.otherPrices | orderBy: 'price'"
                        ng-class="[
                            { 'btn-primary': isSelectedSize(item.size, itemPrice.id) },
                            { 'btn-warning': !isSelectedSize(item.size, itemPrice.id) }
                        ]"
                        ng-click="changeSize(item.dish.id,itemPrice.id)">{{itemPrice.name}} - {{itemPrice.price}}</button>    
                    </div>
                </td>
            </tr>
        </table>
        <hr>
        <!--Selected: <b>{{ selectedItem.dish.name }}</b>-->
        <div class="row-fluid">
            <div class="row-fluid">
                <h2>{{ selectedItem.dish.name }} - {{selectedItem.dish.nameEn}}</h2>
                    <img class="dishDetailImage" ng-src="{{ selectedItem.dish.mainImage }}">
                    <div class="row-fluid">
                        <span ng-bind-html="selectedItem.dish.descriptionTrusted"></span>
                    </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>

<%- block('localScripts', '<script src="/js/dishMenu/dishMenu.js"></script>') %>