<div id="divKitchenOverviewPageAlert">  
  
</div><!--/row-->

<div id="kitchenOverviewPage" class="box row-fluid">
	<div class="box-header">
		<h2><i class="fa fa-th"></i><span class="break"></span>Danh sách đặt món</h2>
	</div>
	<div class="box-content">
		<ul class="nav tab-menu nav-tabs" id="myTab">
			<li class="active"><a href="#dine-in">Tại chỗ</a></li>
			<li class=""><a href="#to-go">Mang về</a></li>
		</ul>

		<div id="kitchenOverviewTab" class="tab-content">
			<div class="tab-pane active" id="dine-in"
					ng-controller="kitchenOverviewController as kitchen"
					ng-init="kitchen.items = <%= JSON.stringify(dineInList) %>">
					<button ng-click="kitchen.shipOrders('/batchDeliverDineIn')"
					ng-disabled="kitchen.numberOfSelected() == 0">bbb {{kitchen.numberOfSelected()}}</button>
				<table class="table" id="kitchenOverviewDineInTable">
				  	<thead>
					  	<tr>
				  			<th>Mã số</th>
	                        <th 
	                        ng-repeat="filter in kitchen.filters" 
	                        class="tableColor{{ filter.index + 1 }} filterButton" 
	                            ng-click="kitchen.changeFilterStatus(filter.index)"
	                            ng-class="[
	                                { filterButtonDisabled: !kitchen.isOn(filter.index) }
	                            ]">{{ filter.index + 1 }} ({{filter.selected}})</th>
						  	<th>Món</th>
						  	<th>Giờ đặt món</th>
						  	<th>&nbsp;</th>
					  	</tr>
				  	</thead>   
				  	<tbody>
		  		  		<tr ng-repeat="item in kitchen.items 
		  		  		| orderBy:'updatedAt'" 
		                  ng-class="[
		                    {selectedKitchenOrder: kitchen.isSelected(item.id)}
		                  ]"
		                  ng-show="kitchen.canShow(item.session.table)"
		                  ng-click="kitchen.select(item.id)">
		                    <td>
		                        {{ item.id }}
		                        {{ item.session.deliveryType }}
		                    </td>
		                    <td 
		                        class='{{ item.session.table == (filter.index+1) ? "tableColor"+(filter.index+1) : ""  }}'
		                        ng-repeat="filter in kitchen.filters"> 
		                        {{ item.session.table == (filter.index+1) ? filter.index+1 : "" }}
		                    </td>
		                    <td>
		                        {{ item.dish.name }}
		                    </td>
		                    <td>
		                        {{ kitchen.convertDate(item.updatedAt) }}
		                    </td>
		                    <td>
		                        <input type="button" class="btn btn-large btn-danger" value="Hủy"
		                        ng-click="kitchen.removeOrder($event, item.id)">
		                    </td>
		                  </tr>
				  	</tbody>
			  	</table>
			</div>
			<div class="tab-pane" id="to-go"
					ng-controller="kitchenOverviewController as kitchen"
					ng-init="kitchen.items = <%= JSON.stringify(toGoList) %>">
					<button ng-click="kitchen.shipOrders('aaa')"
					ng-disabled="kitchen.numberOfSelected() == 0">aaa {{kitchen.numberOfSelected()}}</button>
				<table class="table" id="kitchenOverviewDineInTable">
				  	<thead>
					  	<tr>
				  			<th>Mã số</th>
	                        <th>Bo me no cai filter nay di</th>
						  	<th>Món</th>
						  	<th>Giờ đặt món</th>
						  	<th>&nbsp;</th>
					  	</tr>
				  	</thead>   
				  	<tbody>
		  		  		<tr ng-repeat="item in kitchen.items 
		  		  		| orderBy:'updatedAt'" 
		                  ng-class="[
		                    {selectedKitchenOrder: kitchen.isSelected(item.id)}
		                  ]"
		                  ng-click="kitchen.select(item.id)">
		                    <td>
		                        {{ item.id }}
		                        {{ item.session.deliveryType }}
		                    </td>
		                    <td>
		                        {{item.session.table}}
		                    </td>
		                    <td>
		                        {{ item.dish.name }}
		                    </td>
		                    <td>
		                        {{ kitchen.convertDate(item.updatedAt) }}
		                    </td>
		                    <td>
		                        <input type="button" class="btn btn-large btn-danger" value="Hủy"
		                        ng-click="kitchen.removeOrder($event, item.id)">
		                    </td>
		                  </tr>
				  	</tbody>
			  	</table>
			</div>			
		</div>
	</div>
</div>