<div id="divReportPage">
	<form role="form">
		<div class="form-group">
			<label class="control-label" for="daterange">Form with DateRangePicker</label>
			<div class="controls">
				<div class="input-group col-sm-4">
					<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
					<input type="text" class="form-control" id="daterange" value="09/09/2013 - 09/28/2013">
				</div>
			</div>
		</div>
	</form>
	<button onclick="fastDelivery()" class="btn btn-large btn-success">Giao</button>
</div>