<div id="divSubscribe">
  <input type="text" id="roomName" placeholder="Room name">
  <button type="button" id="subscribe">Subscribe</button>
</div>

<label id="lbMessage"></label>
<input type="hidden" id="hdRoomName">

<div id="divChatContent"></div>

<div id="divChat" style="display: none;">
  <textarea id="txtChat" placeholder="Your message"></textarea>
  <button type="button" id="btnSubscribe">Send</button>
</div>