/*https://google-webfonts-helper.herokuapp.com/fonts/kanit?subsets=vietnamese*/

/* kanit-900 - vietnamese */
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 900;
  src: url('/font/Kanit/kanit-v1-vietnamese-900.eot'); /* IE9 Compat Modes */
  src: local('Kanit Black'), local('Kanit-Black'),
       url('/font/Kanit/kanit-v1-vietnamese-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/font/Kanit/kanit-v1-vietnamese-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('/font/Kanit/kanit-v1-vietnamese-900.woff') format('woff'), /* Modern Browsers */
       url('/font/Kanit/kanit-v1-vietnamese-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/font/Kanit/kanit-v1-vietnamese-900.svg#Kanit') format('svg'); /* Legacy iOS */
}

/* chonburi-regular - vietnamese */
@font-face {
  font-family: 'Chonburi';
  font-style: normal;
  font-weight: 400;
  src: url('/font/Chonburi/chonburi-v1-vietnamese-regular.eot'); /* IE9 Compat Modes */
  src: local('Chonburi'), local('Chonburi-Regular'),
       url('/font/Chonburi/chonburi-v1-vietnamese-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/font/Chonburi/chonburi-v1-vietnamese-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/font/Chonburi/chonburi-v1-vietnamese-regular.woff') format('woff'), /* Modern Browsers */
       url('/font/Chonburi/chonburi-v1-vietnamese-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/font/Chonburi/chonburi-v1-vietnamese-regular.svg#Chonburi') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'VNI-Park';
  font-style: normal;
  font-weight: normal;
  src: url('/font/VNI-Park/VNI-Park.eot'); /* IE9 Compat Modes */
  src: local('VNI-Park'), local('Chonburi-Regular'),
       url('/font/VNI-Park/VNI-Park.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/font/VNI-Park/VNI-Park.woff') format('woff'), /* Modern Browsers */
       url('/font/VNI-Park/VNI-Park.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/font/VNI-Park/VNI-Park.svg') format('svg'); /* Legacy iOS */
}


body {
	/*background-color: #FDC71C;*/
}

#content {
	/*background-image: url('/img/template/BG.jpg');*/
	/*border: 0px;*/
}

.page-title {
	text-align: center;
}

.table-header {
	font-family: 'Chonburi', sans-serif;
	color: #FDC71C;
	font-size: 24px;
}

.table td {
	border-top: 2px solid #fff;
}

.item-name-vn {
	font-family:'Kanit',Sans-Serif;
	color: #fff;
	font-size: 20px;
}

.item-name-en {	
	font-family:'VNI-Park',Sans-Serif;
	color: #fff;
	font-size: 20px;
}

.item-price {
	font-family:'VNI-Park',Sans-Serif;
	color: #fff;
	font-size: 30px;
  text-align: right;
  padding-right: 30px;
}

.item-status {
	font-family: 'Chonburi', sans-serif;
	color: #FE7900;
	font-size: 20px;
}

.inline-block {
  display: inline-block;
}

.menu-item-img {
  max-width: 150px;
}

.menu-sub-item-img {
  max-width: 50px;
}

.menu-item-block {
  padding-bottom: 10px;
}

.menu-item-name-vn {
  font-family:'Kanit',Sans-Serif;
  font-size: 26px;
}

.menu-item-name-en { 
  font-family:'VNI-Park',Sans-Serif;
  font-size: 22px;
  line-height: 1.5em;
  
}

.menu-sub-item-name-vn {
  font-family:'Kanit',Sans-Serif;
  font-size: 16px;
}

.menu-sub-item-name-en { 
  font-family:'VNI-Park',Sans-Serif;
  font-size: 14px;  
}

.horizontal-sub-level1-table {
  padding-top:10px;
  margin-bottom:10px;
  height:50px;
  /*max-width: 100%;*/
  /*min-width:200%;*/
}

.dishName {
  text-align: center;
  font-size: 40px;
}

.potatoDishesContainer {
  position: relative;
  overflow-x: scroll;
}

.potatoDish{
  background-size:cover;
  position: relative;
}

.nextDishes {
  position: absolute;
  z-index: 999;
  right: 0px;
  height: 50px;
  width:50px;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  bottom: calc(50%-25px);
  top: 50%;
  opacity:0.75;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}

.nextDishes.hideArrow {
  opacity:0;
  -webkit-transform: translate(-200%, -50%) scale(0.5);
}

.potatoDishName {
  text-align: center;
  color: #00FB61;
  font-size: 20px;
  font-weight: 900;
  position: absolute;
  width:100%;
  bottom:0px;
}

.dish-title {
  line-height: 1.5em;
}

.kanit {
  font-family:'Kanit',Sans-Serif;
}

.vni-park {
  font-family:'VNI-Park',Sans-Serif;
}

.subCategory1 {
    background-color:#FDC71D;
    border-left:5px solid #00A551;
    border-right:5px solid #00A551;
    border-bottom:5px solid #00A551;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.span6.subCategory1 {
    margin:0px!important;
    width:50%;
}

.subCategory1.inactive {
    background-color: #8D721D;
    border-color:#29632D;
}

.shadedBackground {
    background-color: rgba(0,0,0,0.2);
}

.dishName {
    background-color: rgba(0,0,0,0.2);
}