.menu-notification
{
  /*position: relative;
  top: -45px;
  right: -30px;*/
  line-height: 16px;
  height: 16px;
  padding: 5px 6px;
  color: #fff!important;
  text-shadow: 0 -1px 1px rgba(0,0,0,.15);
  border-width: 1px;
  border-style: solid;
  -webkit-border-radius: 50em;
  -moz-border-radius: 50em;
  border-radius: 50em;

  border-color: #5db734;
  background-color: #78cd51;
  background-image: -webkit-gradient(linear,left top,left bottom,from( #97d879),to( #78cd51));
  background-image: -webkit-linear-gradient(top, #97d879, #78cd51);
  background-image: -moz-linear-gradient(top, #97d879, #78cd51);
  background-image: -o-linear-gradient(top, #97d879, #78cd51);
  background-image: -ms-linear-gradient(top, #97d879, #78cd51);
  background-image: linear-gradient(top, #97d879, #78cd51);      
}

.device-list-footer {
  margin-top: 20px;
}

.device-list-footer-left {
  float: left;
}

.device-list-footer-right {
  float: right;
}

.pending-checkout 
{
  background-color: rgba(87, 199, 3, 0.35);
}

.change-warning {
  color: red !important;
}

.row-warning {
  background-color: rgba(226, 129, 8, 0.39);
}

.category {
  min-height: 75px;
  border: 1px solid;
  -webkit-transition: all 0.25s ease;  
  text-transform: uppercase;
  font-size: 20px;
  color: #59EA60;
  font-weight: bold;
}

.category.active {  
  min-height: 150px; 
  font-size: 24px; 
}

.category-name {
  display: inline-block;
  position: relative;
  top: 10px;
  padding: 5px 10px;
  background-color: rgba(0,0,0,0.5);  
}

.sidebar-left {
  margin-left: 
}

.nav>li>a>img {
  max-width: 75px;
}

/*#content {
  margin-left: 15px;
}*/

input[type=radio] {
    display: none;
}
input[type=radio] + label::before {
    content: '';
    display: inline-block;
    border: 1px solid #000;
    border-radius: 50%;
    margin: 0 0.5em;
}
input[type=radio]:checked + label::before {
    background-color: #ABF506;
}

.big-radio-button + label::before {
    width: 1em;
    height: 1em;
}

.big-radio-button-label {
  font-size: 2.5em;
}