.device-status-img
{
  width: 12px;
}

.menu-notification
{
  /*position: relative;
  top: -45px;
  right: -30px;*/
  line-height: 16px;
  height: 16px;
  padding: 5px 6px;
  color: #fff!important;
  text-shadow: 0 -1px 1px rgba(0,0,0,.15);
  border-width: 1px;
  border-style: solid;
  -webkit-border-radius: 50em;
  -moz-border-radius: 50em;
  border-radius: 50em;

  border-color: #5db734;
  background-color: #78cd51;
  background-image: -webkit-gradient(linear,left top,left bottom,from( #97d879),to( #78cd51));
  background-image: -webkit-linear-gradient(top, #97d879, #78cd51);
  background-image: -moz-linear-gradient(top, #97d879, #78cd51);
  background-image: -o-linear-gradient(top, #97d879, #78cd51);
  background-image: -ms-linear-gradient(top, #97d879, #78cd51);
  background-image: linear-gradient(top, #97d879, #78cd51);      
}

.device-list-footer {
  margin-top: 20px;
}

.device-list-footer-left {
  float: left;
}

.device-list-footer-right {
  float: right;
}

.pending-checkout {
  background-color: rgba(87, 199, 3, 0.35);
}